# assessment.solution/.vs
# assessment.solution/assessment.background.job/obj
# assessment.solution/assessment.background.job/bin
# assessment.solution/assessment.databases/obj
# assessment.solution/assessment.databases/bin
# assessment.solution/assessment.web.api/obj
# assessment.solution/assessment.web.api/bin
# assessment.solution/assessment.web.api/assessment.web.api.csproj.user
# assessment.solution/logs